* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;  
}



tr{
  text-align: center;  
}

.criacao{
  flex: auto;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 10px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
  border-radius: 2%;
  padding: 45px;
  margin-top: 50px;
  justify-content: center;
}

.update{
  flex: auto;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 10px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
  padding: 45px;
  margin-top: 50px;
  justify-content: center;

}

.login{
  flex: auto;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 10px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
  padding: 45px;
  margin-top: 50px;
  justify-content: center;
}

h2{
  text-align: center;
  padding-bottom: 30px; 
}


form{
  text-align: center;
}

#botaoupdate{
  margin: 15px;
}

.container{
  padding: 25px;
}

.teste{  
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 10px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
  padding: 45px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.form-content input,
.form-content textarea,
.form-content select {
    width: 100%;
    padding: 15px;
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.156);
}

.form-group{
  margin: 25px;
}

#id_first_name{
  margin: 25px;
}

#id_last_name{
  margin: 25px;
}

#id_username{
  margin: 25px;

}

#id_email{
  margin: 25px;

}

#id_password{
  margin: 25px;

}

#id_password2{
  margin: 25px;

}

.help-texte{
  color: rgb(86, 168, 193);
}

img{
  display: block;
  margin: 0px auto;
 }
 




