{% include 'loguin.html' %}
{% block conteudo %}


<div class="main-content  container">
    <h2> Login</h2>

    {% if messages %}
    <div class="main-content center container messages-container">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'index_totem' %}" method="POST">
        {%csrf_token %}
        <div class="form-content form-content-grid">
            {%for field in form %}
            <div class="form-group">
                <label for="{{field.id_for_label}}"> {{field.label}}
                    {{field}}
                </label>
                {%if field.help_text %}
                <p class="help-texte">{{field.help_text}} </p>
                {% endif%}

                {{field.erros}}

            </div>
            {% endfor%}
        </div>
            <div class="button">
                <button >Entrar

                </button>
            </div>
    </form>

                <div class="button">
               <button >
                <a href="http://127.0.0.1:8000/authors/register/">Criar Usuário</a>
                </button>
            </div>
</div>

{% endblock conteudo %}