{% include 'base.html' %}
{% block conteudo %}

<div class="container">
    <form action= {% url 'index' %} method="post" >

        <div class="criacao">
            <table class = "table" id="tabela">
            {{forms}}
            {% csrf_token %} 
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </td>
            </tr>
        </table>

        </div>

        
    </form>
</div>
{% endblock conteudo  %}
